.navbar-custom-item-center {
  margin: auto;
}

.banner-area {
  margin-top: 100px;
  margin-bottom: 100px;
}

.nowrap {
  white-space: nowrap;
}

.box {
  background-color: #1c358e;
  font-size: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.center {
  text-align: center;
}

.detail-header {
  color: #e6332a;
  font-size: 36px;
}

.duration-date {
  color: #e6332a;
  font-size: 38px;
}

.duration-header {
  margin-top: 30px;
}

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-detail {
  font-size: 14px;
}

.footer-header {
  color: #e6332a;
  margin: 0px;
}

.footer-img-center {
  width: 90px;
  height: 90px;
}

.footer-img-left {
  width: 90px;
  height: 90px;
}

.footer-img-right {
  width: 90px;
  height: 90px;
}

.image-area {
  margin-top: 70px;
  margin-bottom: 70px;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.prompt-font {
  font-family: "Prompt", sans-serif;
}

@media all and (max-width: 576px) {
  .box {
    background-color: #1c358e;
    font-size: 14px;
  }

  .credit {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .detail {
    font-size: 13px;
  }

  .detail-body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .detail-header {
    font-size: 26px;
  }

  .duration-date {
    font-size: 25px;
  }

  .footer {
    margin-left: 20px;
  }

  .footer-header {
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 14px;
  }

  .footer-img-center {
    width: 50px;
    height: 50px;
  }

  .footer-img-left {
    width: 50px;
    height: 50px;
    float: left;
  }

  .footer-img-right {
    width: 50px;
    height: 50px;
    float: right;
  }

  .footer-detail {
    text-align: center;
    font-size: 13px;
  }

  .link-footer {
    margin-left: 20px;
  }
}
